<div class="page-header">
  <%= link_to new_company_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuova Azienda
  <% end %>
  <h1>Aziende</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="table">
    <thead>
      <tr>
            <th>Ragione</th>
            <th>Codice Fiscale</th>
            <th>Partita IVA</th>
            <th>Sede legale</th>
            <th>Mail</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @companies) do |company| %>
            <td><%= company.name %></td>
            <td><%= company.cf %></td>
            <td><%= company.piva %></td>
            <td><%= company.registred_office %></td>
            <td><%= company.mail %></td>
            <td><%= link_to 'Visualizza', company %></td>
        <td><%= link_to 'Modifica', edit_company_path(company) %></td>
        <td><%= link_to 'Elimina', company, method: :delete, data: { confirm: 'Sei sicuro?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $('#table').DataTable({

});
</script>