<%= form_for(@product_supplier, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @product_supplier.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@product_supplier.errors.count, "error") %> prohibited this product_supplier from being saved:</h4>

      <ul>
      <% @product_supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :id_product,"Prodotto: ", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select class="selectpicker" data-live-search="true" name="product_supplier[id_product]" id="product_supplier_id_product">
         <%= @products.each do |f|%>
          <option value="<%= f.id%>"><%=f.nome%></option>
          <%end%>
      </select>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :id_supplier, "Fornitore: ",class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select class="selectpicker" data-live-search="true" name="product_supplier[id_supplier]" id="product_supplier_id_supplier">
         <%= @suppliers.each do |f|%>
          <option value="<%= f.id%>"><%=f.name%></option>
          <%end%>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<script>
 
$('.selectpicker').selectpicker('refresh');
</script>
